<form action="<%= users_url%>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
     
  <label for="user_user_name">User Name</label>
  <input name="user[user_name]" id="user_user_name" type="text" value="<%= @user.user_name %>">

  <br><br>

  <label for="user_password">Password</label>
  <input name="user[password]" id="user_password" type="password" value="<%= @user.password %>">

  <br><br>
  
  <input type="submit" value="Sign me up, Scotty!">
  
</form>