<form action="<%= cat_rental_requests_url%>" method="post">
  <label for="request_select">Cat</label>
  <input name="authenticity_token" 
    type="hidden" 
    value="<%= form_authenticity_token %>" />
  
  <select name="request[cat_id]" id="request_select">
    <option />
    <% Cat.all.each do |cat| %>
      <option value="<%= cat.id %>"><%= cat.name %></option>
    <% end %>
  </select>
  
  <br><br>
  
  <label for="request_start_date">Start Date</label>
  <input name="request[start_date]" id="request_start_date" type="date">
  
  <br><br>
  
  <label for="request_end_date">End Date</label>
  <input name="request[end_date]" id="request_end_date" type="date">
  
  <br><br>
  <input type="submit" value="Request Cat">
</form>