  <% if @cat.persisted? %>
    <form action="<%= cat_url(@cat)%>" method="post">
  
    <input type="hidden" name="_method" value="PATCH">
  <% else %>
    <form action="<%= cats_url%>" method="post">
  <% end%>
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  
  <label for="cat_name">Name</label>
  <input name="cat[name]" id="cat_name" type="text" value="<%= @cat.name %>">
  
  <br><br>
  
  <label for="cat_age">Age</label>
  <input name="cat[age]" id="cat_age" type="text" value="<%= @cat.age %>">
  
  <br><br>
  
  <label for="cat_birthdate">Birthdate</label>
  <input name="cat[birth_date]" id="cat_birthdate" type="date" value="<%= @cat.birth_date %>">
  
  <br><br>
  
  <label for="cat_sex">Sex</label>
  <select name="cat[sex]">
    <option />
    <option value="M" <%= "selected" if @cat.sex == "M"%>>Male</option>
    <option value="F" <%= "selected" if @cat.sex == "F"%>>Female</option>
  </select>
  
  <br><br>
  
  <label for="color">Color:</label>
  <% Cat.colors.each do |color| %>
  <input type ="radio" name="cat[color]" 
    id="cat_color_<%= color %>" value="<%= color %>" <%= "checked" if @cat.color == color%>>
  <label for="cat_color_<%= color %>"><%= color.capitalize %></label>
  <% end %>
  
  <br><br>
  
  
  
  <input type="submit" value="Update my cat!">
</form>