<h1><%= @cat.name %></h1>
  <table>
    <tr>
      <% @cat.attributes.keys.each do |attribute| %>
        <% next if attribute == "created_at" || attribute == "updated_at" ||
          attribute == "id" %>
  
        <th><%= attribute.gsub("_", " ").capitalize %></th>
      <% end %>
    </tr>
  
    <tr>
      <% @cat.attributes.each do |attribute, value| %>
        <% next if attribute == "created_at" || attribute == "updated_at" ||
              attribute == "id" %>
        <td><%= value %> </td>
      <% end %>
    </tr>
  
  </table>
<br>

<br><br>

<h2>Existing requests:</h2>
<ol>
<% @cat.requests.sort_by(&:start_date).reverse.each do |request| %>
  <li> 
    <%= User.find(request.user_id).user_name %>, 
    <%= request.status %>: <%= request.start_date %>, 
    <%= request.end_date %> 
  </li>
  <% if request.pending? && @cat.owner == current_user %>
  
  <form action="<%= approve_cat_rental_request_url(request) %>" method="post">
    <input type="hidden", name="request[id]" value="<%= request.id %>">
    <input type="submit" value="Approve Request" />
    <input name="authenticity_token" 
      type="hidden" 
      value="<%= form_authenticity_token %>" />
  </form> 
  
  <form action="<%= deny_cat_rental_request_url(request) %>" method="post">
    <input type="hidden", name="request[id]" value="<%= request.id %>">
    <input type="submit" value="Deny Request" />
    <input name="authenticity_token" 
      type="hidden" 
      value="<%= form_authenticity_token %>" />
  </form>
  
  <% end %>
  
<% end %>
</ol>

<a href="<%= cats_url %>">Back to index</a>
<a href="<%= edit_cat_url %>">Edit this cat</a>
<a href="<%= new_cat_rental_request_url %>">Make a new rental request!</a>