<!DOCTYPE html>
<html>
  <head>
    <title>Cats99</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
      <%= flash[:notice] %>
    <br>
    <% if current_user %>
      Welcome, <%= current_user.user_name %>!
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input
           name="authenticity_token"
           type="hidden"
           value="<%= form_authenticity_token %>">
        
        <input type="submit" value="Log out">
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Sign in!</a>
      <a href="<%= new_user_url %>">Sign up!</a>
    <% end %>
    <br><br>
    
    <%= yield %>

  </body>
</html>
